@use "../vars.scss";

.graphs-header {
  margin-bottom: 26px;
}

.sim-graph {
  .axis {
    stroke: #000000;
    stroke-width: 2;
  }

  .data {
    stroke-width: 2;
    fill: none;
    stroke: vars.$data-grey;

    &.selected {
      stroke: vars.$sim-dark-1;
    }
  }

  .data-dot {
    stroke: none;
    fill: vars.$sim-dark-1;
  }
}

.checkbox-row {
  width: 270px;
  margin-left: 35px;
  padding: 0 8px 0 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.selected {
    background: vars.$sim-light-5;
    border-radius: 8px;

    label {
      color: #04708b;
      font-weight: bold;
    }

    svg {
      stroke: vars.$sim-dark-1;
    }
  }

  label {
    font-family: Lato;
    font-size: 14px;
    margin-left: 6px;
    font-weight: bold;
    line-height: 1.86;
    color: vars.$text-grey;
  }

  svg {
    stroke: vars.$data-grey;
    stroke-width: 2;
  }

}

.line-style-0 {
  stroke-dasharray: none;
}

.line-style-1 {
  stroke-dasharray: 8 2;
}

.line-style-2 {
  stroke-dasharray: 2 2;
}

.line-style-3 {
  stroke-dasharray: 15 2;
}
