@use './vars';

.divider.animation {
  height: 1px;
  background-color: vars.$ani-basic;
}

.ani-row {
  gap: 5px;
  margin: 5px 0;
}

.controls-pane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  width: 320px;
  height: 220px;
}

.key-box.animation {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: vars.$ani-light-8;
  border-radius: vars.$ani-radius-normal;
  padding: 10px;
}

.stress-pane {
  width: 450px;
}

.details-pane {
  display: flex;
  flex-direction: column;
  width: 386px;
}

.details-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 168px;
  background-color: vars.$ani-light-8;
  border-radius: vars.$ani-radius-normal;
  padding: 10px;
  margin-top: 5px;

  div {
    margin: 0 10px;

    &.stress-example {
      margin: 0 18px;
    }
  }
}

.stress-prompt {
  font-weight: bold;
}

textarea {
  font-family: inherit;
  resize: none;
}
