@use './vars';

.divider.animation {
  height: 1px;
  background-color: vars.$ani-basic;
}

.silhouette {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 230px;
  height: 216px;

  border: vars.$ani-border;
  border-radius: vars.$ani-radius-normal;
}

.controls-pane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  width: 300px;
}

.key-box.animation {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: vars.$ani-light-8;
  border-radius: vars.$ani-radius-normal;
  padding: 10px;
}

.details-pane {
  display: flex;
  flex-direction: column;
  width: 386px;
}

.details-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 163px;
  background-color: vars.$ani-light-8;
  border-radius: vars.$ani-radius-normal;
  padding: 10px;
  margin-top: 5px;

  div {
    margin: 0 10px;

    &.stress-example {
      margin: 0 20px;
    }
  }
}

.stress-prompt {
  font-weight: bold;
}

textarea {
  font-family: inherit;
  resize: none;
}
