@use './vars';

$transition-duration: 2s;
$transition: height $transition-duration, left $transition-duration, top $transition-duration;

.silhouette-pane {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  width: 230px;
  height: 216px;

  border: vars.$ani-border;
  border-radius: vars.$ani-radius-normal;
}

.silhouette-profile {
  position: absolute;
  transition: $transition;
}

$btd: 2s;
.silhouette-button {
  position: absolute;
  cursor: pointer;
  transition: opacity $btd, height $btd, width $btd, left $btd, top $btd;

  background-color: rgba(255, 255, 255, .25);
  border-radius: 7px;
  box-shadow: 0 0 0 1px vars.$ani-dark-1, 0 0 0 2.5px white, inset 0 0 0 2.5px white;
}

.silhouette-organ {
  position: absolute;
  pointer-events: none;
  transition: $transition;
}
