.options-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-header {
  display: flex;
  align-items: center;

  width: 80px;
  font-weight: bold;
}

.options-header {
  height: 60px;
}

.row-header-text {
  position: absolute;
  width: 54px;
  padding-left: 10px;

  font-weight: bold;
  font-size: 14px;

  .row-header-text-sub {
    font-size: 12px;
  }
}

.key-box.simulation {
  width: 65px;
  height: 141px;
  background-color: #f0f9fb;
}

.divider.simulation {
  width: 1px;
  height: 40px;
  background-color: #0592af;
}
