@use "./vars.scss";

.graphs-header {
  margin-bottom: 26px;
}

.sim-graph {
  .axis {
    stroke: #000000;
    stroke-width: 2;
  }

  .data {
    stroke-width: 2;
    stroke: vars.$sim-dark-1;
    fill: none;
  }
}

.checkbox-row {
  width: 275px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.selected {
    background: vars.$sim-light-5;
    border-radius: 8px;
  }

  label {
    font-family: Lato;
    font-size: 14px;
    margin-left: 6px;
    font-weight: bold;
    line-height: 1.86;
    color: vars.$sim-dark-1;
  }
}

.line-style-ff {
  stroke-dasharray: none;
}

.line-style-ft {
  stroke-dasharray: 8 2;
}

.line-style-tf {
  stroke-dasharray: 2 2;
}

.line-style-tt {
  stroke-dasharray: 13 2;
}
