@use "./vars.scss";

.simulation-body {
  display: flex;
  height: 627px;
  justify-content: space-between;
  margin: 10px 7px;

  .control-column {
    display: flex;
    flex-direction: column;

    .simulation-graphs {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 45%;
      margin-top: 17px;
      width: 100%;

      .graphs-header {
        font-weight: bold;
      }
    }
  }

  .video-column {
    align-items: center;
    background-color: vars.$sim-transparent-background;
    border-radius: vars.$sim-radius-video-column;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 9px;
    height: 603px;
    padding: 17px;

    .video {
      align-items: center;
      background-color: black;
      display: flex;
      flex-direction: column;
      height: 280px;
      position: relative;
      width: 448px;

      .pane-title {
        background-color: white;
        margin-top: 10px;
      }
    }
  }
}

.simulation-footer {
  display: flex;
  gap: 10px;
  margin: 0 5px 9px 9px;

  .outcome-area {
    align-items: center;
    background-color: vars.$sim-transparent-background;
    border-radius: 6px;
    display: flex;
    font-size: 18px;
    height: 54px;
    justify-content: center;
    margin-right: 2px;
    width: 740px;
  }

  .simulation-button {
    background-color: white;
    border: 3px solid black;
    border-radius: 6px;
    height: 54px;
    width: 55px;
  }
}
