@use './vars';

.stress-pane {
  width: 450px;
}

.details-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 168px;
  background-color: vars.$ani-light-8;
  border-radius: vars.$ani-radius-normal;
  padding: 10px;
  margin-top: 5px;

  div {
    margin: 0 10px;

    &.stress-example {
      margin: 0 18px;
    }
  }
}

.stress-prompt {
  font-weight: bold;
}

textarea {
  font-family: inherit;
  resize: none;
}
