@use "./vars.scss";

// Taken from the CLUE codebase

$border-gray: #949494;

.toggle-control {
  box-sizing: content-box;
  width: 34px;
  height: 14px;
  cursor: pointer;

  .track {
    width: 31px;
    height: 11px;
    border-radius: 7px;
    background-color: white;
    border: 1.5px solid $border-gray;

    &.toggle-on {
      &.animation {
        background-color: vars.$ani-dark-1;
        border-color: vars.$ani-dark-1;
      }
      &.simulation {
        background-color: vars.$sim-dark-1;
        border-color: vars.$sim-dark-1;
      }
    }
  }

  .ball {
    position: relative;
    top: -17.5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid $border-gray;
    transition-property: transform;
    transition-duration: .25s;

    &.animation {
      background-color: vars.$ani-light-7;
      
      &:hover {
        background-color: vars.$ani-light-4;
      }
      &:active {
        background-color: vars.$ani-light-2;
      }
    }

    &.simulation {
      background-color: vars.$sim-light-7;
      
      &:hover {
        background-color: vars.$sim-light-4;
      }
      &:active {
        background-color: vars.$sim-light-2;
      }
    }

    &.toggle-on {
      transform: translate(14px, 0);
    }
  }
}
