$app-width: 940px;
$video-width: 456px;
$video-height: 284px;

$ani-dark-1: #aa2ff0;
$ani-basic: #c765ff;
$ani-light-2: #d68cff;
$ani-light-4: #e3b1ff;
$ani-light-5: #ecc9ff;
$ani-light-6: #f0d5ff;
$ani-light-7: #f4e0ff;
$ani-light-8: #f9efff;

$ani-border: 2px solid $ani-dark-1;

$ani-radius-normal: 14px;
$ani-radius-button: 16px;
$ani-radius-container: 21px;
$ani-radius-video: 11px;

$sim-dark-1: #0481a0;
$sim-basic: #0592af;
$sim-light-2: #6fc6da;
$sim-light-3: #93d5e4;
$sim-light-4: #b7e2ec;
$sim-light-5: #cdebf2;
$sim-light-7: #e2f4f8;
$sim-light-8: #f0f9fb;
$sim-transparent-background: rgba(205, 235, 242, 0.39);

$sim-border: 4px solid $sim-dark-1;

$sim-radius-button: 5px;
$sim-radius-cell: 10px;
$sim-radius-container: 5px;
$sim-radius-settings-bottom: 20px;
$sim-radius-settings-top: 9px;
$sim-radius-video: 7px;
$sim-radius-video-column: 12px;

$cell-orange: #ff8415;
$cell-border: 2px solid $cell-orange;

$font-clean: 'Lato', sans-serif;
$font-regular: 'Lato-Regular', sans-serif;
$font-bold: 'Lato-Bold', sans-serif;

$text-grey: #717171;