@use "./vars.scss";

.video-view {
  display: flex;
  flex-direction: column-reverse;

  .video-pane {
    position: relative;
    overflow: hidden;

    width: 456px;
    height: 284px;
    padding: 2px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .disabled-overlay {
      top: -.5px;
      transition: opacity .5s;

      .disabled-message {
        font-family: vars.$font-clean;
        font-weight: bold;
      }
    }

    &.animation {
      background-color: vars.$ani-light-8;
      border: vars.$ani-border;
      border-radius: vars.$ani-radius-normal;

      &.cell-view {
        border: vars.$cell-border;
      }

      .disabled-overlay {
        border-radius: vars.$ani-radius-normal;
      }

      .video-view-video {
        border-radius: vars.$ani-radius-video;
      }
    }
    &.simulation {
      background-color: vars.$sim-light-8;
      border: vars.$sim-border;

      &.cell-view {
        border: vars.$cell-border;
        border-radius: vars.$sim-radius-cell;

        .disabled-overlay {
          border-radius: vars.$sim-radius-cell;
        }

        .video-view-video {
          border-radius: vars.$sim-radius-video;
        }
      }
    }

    .video-view-video {
      position: absolute;
      left: 2px;
      top: 3px;
      width: 456px;
    }

    .video-title {
      top: 10px;
    }
  }
}
