.video-view {
  display: flex;
  flex-direction: column-reverse;

  .video-pane {
    position: relative;
    width: 456px;
    height: 284px;
    padding: 2px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &.animation {
      background-color: #f9efff;
      border: 2px solid #aa2ff0;
      border-radius: 14px;

      &.cell-view {
        border: 2px solid #ff8415;
      }

      .video-view-video {
        border-radius: 11px;
      }
    }
    &.simulation {
      background-color: #f0f9fb;
      border: 2px solid #0481a0;

      &.cell-view {
        border: 2px solid #ff8415;
        border-radius: 10px;

        .video-view-video {
          border-radius: 7px;
        }
      }
    }

    .video-view-video {
      width: 456px;
      margin-top: 1px;
    }

    .video-title {
      position: absolute;
      top: 10px;

      background: rgba(255, 255, 255, .8);
      border-radius: 14px;
      padding: 5px 15px;
    }
  }
}
