@use "vars.scss";

.zoom-layer {
  pointer-events: none;

  .svg-container {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    transition: height .75s, width .75s, opacity .5s;

    .silhouette-background {
      fill: rgba(255, 255, 255, .5);
    }

    .silhouette-line-back {
      stroke: white;
      stroke-width: 5px;
    }

    .silhouette-line-front {
      stroke: vars.$ani-dark-1;
      stroke-width: 2px;
      stroke-dasharray: 6 2;
    }
  }

  .silhouette-box {
    position: absolute;
    border: white solid 1.5px;
    box-shadow: 0 0 0 2px vars.$ani-dark-1, 0 0 0 3.5px white;
    transition: opacity .5s;

    &.heart {
      border-radius: 7px;
    }
    &.nose {
      border-radius: 7px;
    }
    &.brain {
      border-radius: 4px;
    }
  }
}